// Place all the styles related to the App controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  background-image: image-url('sw.png');
  width: 98%;
  background-size: cover;
}

th {
  text-align: left;
  background-color: #F1D223;
  color: white;
}

td {
  margin: 0;
  background-color: #b0c4de;
}

tr:nth-child(even) {background-color: #f2f2f2;}

.hover:hover {
  background-color: #717171;
  cursor: pointer;
}

.hover {
  background-color: #789ac7;
}


th, td {
  margin: 0;
  padding: 8px;
}

table {
  display: block;
  margin-left: 50px;
}

table a {
  text-decoration: none;
  display: inline-block;
  height: 40px;
  width: 200px;;
  color: black;
  text-align: center;
}

.starships, .planets, .people, .films, .general{
  overflow-x: auto;
  align-content: center;
  margin-top: 20px;
}

.planets-table td {
  height: 40px;
  width: 200px;
}

.intro {
  padding-top: 50px;
  padding-left: 50px;
  color: white;
}

.intro h1, .intro h2 {
  color: black;
  text-shadow: 1px 1px 0 #F1D223, 1px -1px 0 #F1D223, -1px 1px 0 #F1D223, -1px -1px 0 #F1D223, 1px 0px 0 #F1D223, 0px 1px 0 #F1D223, -1px 0px 0 #F1D223, 0px -1px 0 #F1D223;
}

.buscador {
  color: white;
  right: 10px;

  position: fixed;
}
